<!doctype html>
<html lang="en">
    <head>
	    <title>{{title}}</title>
	    {{{block "pageStyles"}}}
    </head>
	<body class="yui3-skin-sam">
	    {{{body}}}
	    {{{block "pageScripts"}}}
	    {{{block "pageInlineJS"}}}
	</body>
</html>
